<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLAN</title>
    <link 
    rel="stylesheet"
   href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTINGwy59ffF1BuGJpLSa9DkkMp0DgiMDm41YMj70gWKYbI76tMS"
    crossorigin="anonymous"
    />
</head>
<body style="background-color:bisque">
    <div class="container">
        <h1 class="display4 text-center py-1">Reja va Maqsadlar</h1>
    
    
    </div>
</body>
</html>